* {
    font-family: "Symbols Nerd Font", sans-serif;
    font-size: 14px;
    color: #efebff;
}

window#waybar {
	background-color: transparent;
}

window#waybar > box {
	padding: 8px;
}

#temperature,
#cpu,
#memory,
#workspaces,
#custom-new-workspace,
#custom-audio-player,
#clock,
#network,
#bluetooth,
#custom-volume,
#battery,
#custom-power {
    padding: 0 8px;
    background-color: rgba(32, 29, 42, 0.85);
}

#temperature {
	padding-left: 16px;
    border-radius: 20px 0 0 20px;
}

#memory {
	padding-right: 16px;
    border-radius: 0 20px 20px 0;
}

#workspaces {
    border-radius: 20px 0 0 20px;
	padding-right: 4px;
}

#custom-new-workspace {
    border-radius: 0 20px 20px 0;
    color: #46bfee;
    padding-left: 4px;
    padding-right: 16px;
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border-color: transparent;
    transition: none;
}

#workspaces button.active {
    color: #ff79c6;
}

#workspaces button.urgent {
    color: #ff5555;
}

#custom-audio-player {
    min-width: 12px;
    padding: 0px 14px;
    border-radius: 50%;
    margin-right: 8px;
}

#clock {
	padding-left: 16px;
    border-radius: 20px 0 0 20px;
}

#custom-volume:last-child {
    padding-right: 16px;
    border-radius: 0px 20px 20px 0px;
}

#custom-volume.muted {
    color: #ff5555;
}

#battery {
	padding-right: 16px;
    border-radius: 0px 20px 20px 0px;
}

#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    color: #ff5555;
}

#custom-power {
    padding: 0px 14px;
    border-radius: 50%;
    background-color: #9375f5;
    margin-left: 8px;
}
